.App {
  display: grid;
  background-color: #edf1f4;
  padding: 5rem;
  height: 100vh;
}

.Container {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.Inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.iframe {
  display: grid;
  width: 100%;
  height: 100%;
}
